.dashboard-container {
    display: flex;
    /* border:  2px solid red; */
    height: 90%;
    
  }
  .main {
    height: 90%;
    /* margin-top: 70px; */
    overflow-y: scroll;
  }
  
  .main::-webkit-scrollbar {
    display: none;
  }

  
  .first-div{
    width: 60%;
    margin: 15px;
    height: 90%;
    margin-bottom: 0;
  
  }
  .second-div{
 
    margin: 15px;
    height: 90%;
    width: 30%;
    /* border:  2px solid rgb(26, 23, 23); */
    margin-bottom: 0;
  }
  .f-row{
    display: flex;
    width: 100%;
 
  }
  .f-row>div{
    
    height: 120px;
    width: 30%;
    margin: 10px;
    border-radius: 5px;
  }
  .s-row{
    display: flex;
    width: 100%;
   padding: -12px;
  }
  .s-row>div{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    height: 200px;
    width: 45%;
    /* margin: 17px; */
    border-radius: 5px;
  }
  .sf-row{
    height: 250px;
    border-radius: 5px;
    margin-top: 10px;
  }
 
  .btn-div{
    display: flex;
    justify-content: space-between;
    margin: 17px;
    padding: 5px;
  }
  .annu{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    height: auto;
    width: 95%;
    margin: 10px;
    border-radius: 5px;
  }
  .ann-div{
    display: flex;
justify-content: space-between;
padding: 20px;
  }
.select{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 2px;
}
.data-div{

    /* border: solid 2px red; */
    height: 200px;
    overflow-y: scroll;
}
.data-div::-webkit-scrollbar {
    display: none;
  }
.s-data-div{
    height: 250px;
    overflow-y: scroll;
}
.s-data-div::-webkit-scrollbar {
    display: none;
  }
.data-ren-div{
    display: flex;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
   justify-content: space-between;
}
.icon{
    display: flex;
    
}
.icon>span{
    margin: 10px;
    padding: 5px;
}
.upannu{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    height: 350px;
    width: 95%;
    /* margin: 10px; */
    border-radius: 5px;
}
.new{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}